body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
    width: 100%;
}
a {
    text-decoration: none;
    color: #73738D;
}

#round1 {
    position: relative;
    z-index: -1;
    top: 0;
    left: -6rem;
}

.head {
    display: flex;
    justify-content: space-between;
    margin: 0 12% 2rem;
}
.head__name {
    color: #222222;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.head__menu {
    display: flex;
    justify-content: space-between;
    
}
.head__menuItem {
    color: #73738D;
    font-weight: 600;
    font-size: 1rem;
    margin: auto 1.5rem auto;
}

.head__menuItem_blueInRound {
    margin-right: 0;
    color: #1943EF;
    border: 1.03958px solid #1943EF;
    border-radius: 33.9597px;
    padding: 1rem 2rem 1rem;
}
.head__menuItem_blueInRound:hover {
    background-color: #1943EF;
    color: #222222 ;
}

#squareOfRounds {
    position: relative;
    z-index: -1;
    top: 3.7rem; 
    margin-left: -1rem;
}
.whoWeAre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12% 2rem;
}
.whoWeAre__textBlock {
    max-width: 32rem;
    margin-bottom: 7rem;
}
.whoWeAre__header {
    font-weight: bold;
    font-size: 3rem;
    color: #222222;
}

.whoWeAre__mainText {
    font-weight: 500;
    font-size: 1.1rem;
    color: #73738D;
    margin: 1rem 0 1rem;
    line-height: 2rem;
}
.whoWeAre__emailPlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.whoWeAre__emailId input {
    width: 31rem;
    height: 3rem;
    background: #FFFFFF;
    border: 1.03958px solid #FFFFFF;
    border-radius: 33.9597px;
    box-shadow: 0 0 1rem #E5E5E5;
    outline: none;
    color: #222222;
    font-family: 'Gilroy', sans-serif;
    z-index: -1;
    padding-left: 1rem;
}
input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    color: rgba(115, 115, 141, 0.6);
}
.whoWeAre__button {
    position: absolute;
    background-color: #1943EF;
    border-radius: 33.9597px;
    font-weight: 600;
    font-size: 1rem;
    width: 10rem;
    color: #FFFFFF;
    padding: 1.1rem 1.7rem 1.1rem;
    text-align: center;
    margin-left: 19rem;
}
.whoWeAre__button:hover {
    background-color: #FFFFFF; 
    color: #1943EF;
    border: 1.03958px solid #1943EF;
}
.whoWeAre__platformPluses {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}
.whoWeAre__plus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
}
.whoWeAre__plusText {
    font-weight: 500;
    font-size: 0.9rem;
    color: #73738D;
}

.whoWeAre__platformPict {
    margin-right: 2rem;
}
#round2{
    position: relative;
    z-index: -1;
    top: 4.5rem;
    left: 1rem;
}
#round3{
    position: relative;
    z-index: -1;
    bottom: 7rem;
    left: 14.5rem;
}
#round4{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 40rem;
}

.usersAboutUs {
    margin: 3rem auto 5rem;
    text-align: center;
}
.usersAboutUs__header {
    font-weight: bold;
    font-size: 2rem;
    color: #222222;
    margin-bottom: 3rem;
}
.usersAboutUs__centralPict {
    z-index: 1;
}
.usersAboutUs__feedback {
    margin: 0 auto 2rem;
    width: 35rem;
    background: #FFFFFF;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 8.31667px;
    padding: 2rem;
    padding-top: 0;
}
.usersAboutUs__usersName{
    font-weight: 600;
    font-size: 1.1rem;
    color: #222222;
}
.usersAboutUs__decorPict {
    margin: 1.5rem auto 0.5rem;
}
.usersAboutUs__feedbackText {
    font-weight: 500;
    font-size: 1.1rem;
    color: #73738D;
    line-height: 2rem;
    margin-bottom: 2rem;
}

#user1 {
    position: absolute;
    z-index: -1;
    left: 5rem;
    top: 54rem;
}
#user2 {
    position: absolute;
    z-index: -1;
    top: 59rem;
    left: 15%;
}
#roundUser2 {
    position: absolute;
    z-index: -2;
    top: 59rem;
    left: 15%;
}
#user3 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 78rem;
}
#user4 {
    position: absolute;
    z-index: -1;
    right: 0rem;
    top: 52rem;
}
#roundUser4 {
    position: absolute;
    z-index: -2;
    right: 0rem;
    top: 52rem;
}
#user5 {
    position: absolute;
    z-index: -1;
    right: 22%;
    top: 57rem;
}
#user6 {
    position: absolute;
    z-index: -1;
    right: 5rem;
    margin-top: 17rem;
}

#groupLine {
    position: relative;
    bottom: 2rem;
    left: 1.8rem;
}
#groupBlueSquare {
    position: relative;
    z-index: -1;
    bottom: 3.4rem;
    left: 16.5rem;
}

#round5{
    position: relative;
    z-index: -1;
    left: -2rem;
    bottom: 3.5rem;
}

.tryBlock {
    margin: 10rem auto 1rem;
    width: 80%;
    height: 9rem;
    background-color: #FFFFFF;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 8.31667px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tryBlock__textBlock {
    margin-left: 2rem;
}
.tryBlock__header {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #222222;
    font-weight: bold;
}
.tryBlock__text {
    font-weight: 500;
    font-size: 1rem;
    color: #73738D;
}
.tryBlock__button {
    background-color: #26C296;
    border-radius: 33.9597px;
    font-weight: 600;
    font-size: 1rem;
    width: 10rem;
    color: #FFFFFF;
    padding: 1.2rem 1.7rem 1.2rem;
    margin-right: 2rem;
    text-align: center;
    max-height: 3rem;
}
.tryBlock__button:hover {
    background-color: #FFFFFF; 
    color: #26C296;
    border: 1.03958px solid #26C296;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10% 2rem;
}
.menu__block {
    margin-left: 0;
    padding: 1rem; 
}
.menu__point {
    font-weight: 500;
    font-size: 1rem;
    color: #73738D;
    list-style-type: none; 
    padding-bottom: 1rem;
}

.menu__point_bold {
    font-weight: 600;
    font-size: 1.5rem;
    color: #222222;
}

#round6 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 120rem;
}

.foot {
    margin:  2rem auto 3rem;
    text-align: center;
}
.foot__header {
    font-weight: bold;
    font-size: 1.5rem;
    color: #222222;
    padding: 1rem;
}
.foot__copyright {
    font-weight: 500;
    font-size: 1rem;
    color: #73738D;
}